.socials-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    width: 100%;
    max-width: 1200px; 
    margin: 20px auto; 
    box-sizing: border-box;
}

.socials-title {
    font-size: 2.5em;
    color: #C78593;
    margin-bottom: 40px;
    text-align: center;
}

.socials-list-wrapper {
    width: 100%;
    padding-bottom: 20px;
}


.socials-list {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}


/* Styling for individual social boxes */
.social-box {
    flex: 0 0 calc(50% - 30px);
    max-width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #D3D3D3;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.social-box:hover {
    transform: translateY(-5px);
    border-color: #d3d3d3; 
}

.social-icon {
    font-size: 4em; 
    margin-bottom: 15px;
    color: #C78593; 
    transition: color 0.3s ease;
}

.social-box:hover .social-icon {
    color: #b1969c; 
}

.social-name {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #D3D3D3;
}

.social-description {
    font-size: 0.9em;
    color: #9c9c9c;
    line-height: 1.4;
    max-width: 90%;
}

/* Responsive stuff */
@media (max-width: 768px) {
    .socials-title {
        font-size: 2em;
    }

    .social-box {
        flex: 0 0 100%;
        max-width: 300px; 
        height: 250px;
    }

    .social-icon {
        font-size: 3em;
    }

    .social-name {
        font-size: 1.5em;
    }

    .social-description {
        font-size: 0.8em;
    }
}


/* for smol screen*/
@media (max-width: 480px) {
    .social-box {
        width: 180px; 
        height: 230px;
    }
    .socials-list {
        gap: 15px; /* Less gap on very small screens */
    }
}
