.selection-layout {
    display: flex; 
    flex-direction: row;
    height: calc(100vh - var(--header-height, 150px) - 40px); 
    align-items: stretch; 
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    box-sizing: border-box;
}



/* Selection boxes */
.selection-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #D3D3D3;
    background-color: #222222; 
    border: 10px double #C78593;
    border-radius: 10px;
    overflow: hidden; 
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Text Inside */
.selection-label {
    font-size: 3em; 
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    z-index: 1; 
    transition: color 0.3s ease;
}



.selection-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position: center; 
    opacity: 0; 
    transition: opacity 0.5s ease; 
    z-index: 0; 
}




/* Hover effects */
#stories-selection:hover {
    border-color: #8279ff;
}

#stories-selection:hover::before {
    background-image: url('../images/stories/Stars.jpg'); 
    opacity: 0.3;
}   

#stories-selection:hover .selection-label {
    color: #8279ff;
}



#personas-selection:hover {
    border-color: #ff79e9;
}

#personas-selection:hover::before {
    background-image: url('../images/stories/pink.jpg');
    opacity: 0.3;
}

#personas-selection:hover .selection-label {
    color: #ff79e9;
}




/* 4 smol screen */
@media (max-width: 768px) {
    .selection-layout {
        flex-direction: column; 
        height: auto; 
        padding: 10px;
        gap: 10px;
    }

    .selection-box {
        min-height: 40vh; 
    }

    .selection-label {
        font-size: 2.5em;
    }
}